@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=Creepster&display=swap');
body {
  background: rgb(255,0,0);
  background-image: url('./image/forrest.jpeg');
  font-family: 'Creepster';
  background-repeat: no-repeat;
  background-size: cover;
}
